/* home.css */

body {
    color: #333;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f2ea;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#messages {
    background-color: inherit;
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    max-height: calc(100vh - 200px);
}

.chat-container {
    background-color: inherit;
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    max-height: calc(100vh - 200px);
}

.refresh-button {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    margin: 0 auto;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #128C7E;
}

.menu-container {
    cursor: pointer;
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 4;
}

.menu-icon {
    font-size: 20px;
    color: black;
}

.menu-options {
    display: none;
    /*position: absolute;*/
    background-color: transparent;
    padding: 10px;
    right: 0;
    top: 30px;
    z-index: 1;
    font-size: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #333;
}

.menu-options div {
    cursor: pointer;
    padding: 5px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #b5dcdd;
    padding: 10px;
    z-index: 2;
}

/* Remove the styling for the logo */
.logo {
    display: none;
}

.app-name {
    font-size: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
    background-color: black;
}*/

.username-container {
    position: fixed;
    top: 100px;
    left: 0;
    right: 50px;
    background-color: #b5dcdd;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
} 

.username-container input {
    color: black;
    border-color: none;
    background-color: none;
}
